<section class="skl-general" >
    <!-- ================================================================================================== -->
    <button class="btn btn-warning m-3" (click)="toggleAddSkills()" *ngIf="getIdToken()" >Añadir habilidad</button>

    <div class="container" *ngIf="showFormSkl">
        <div class="d-flex flex-column mt-3 mb-3">
            <form action="" >
                <div class="d-flex flex-column form-control" >
                    <input type="text" [(ngModel)]="title" name="title">
                    <textarea name="description" id="" cols="30" rows="10" [(ngModel)]="description" ></textarea>
                </div>
                <div class="form-control">
                    <button class="btn btn-success" (click)="onAdd()">confirmar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- ================================================================================================== -->
    <div class="container mt-3 card text-bg-primary mb-3" *ngFor="let skl of skills" >
        <h4 class="card-title">{{skl.title}}</h4>
        <p class="card-text">{{skl.description}}</p>
        <div class="d-flex flex-row-reverse mb-2">
            <button class="btn btn-danger" (click)="onDelete(skl)" *ngIf="getIdToken()" >borrar</button>
        </div>
    </div>
</section>

